<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxHP</key>
	<string>20</string>
	<key>walkingSpeed</key>
	<string>.75</string>
	<key>AttackPower</key>
	<string>1</string>
	<key>goldReward</key>
	<string>3</string>
	<key>spriteFile</key>
	<array>
		<string>basicAnt.png</string>
		<string>basicAnt2.png</string>
	</array>
</dict>
</plist>
