<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxHP</key>
	<string>30</string>
	<key>walkingSpeed</key>
	<string>2</string>
	<key>attackPower</key>
	<string>1</string>
	<key>goldReward</key>
	<string>200</string>
	<key>spriteFile</key>
	<array>
		<string>fireAnt.png</string>
		<string>fireAnt2.png</string>
	</array>
</dict>
</plist>
