<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initialGold</key>
	<string>25</string>
	<key>initialHealth</key>
	<string>5</string>
	<key>towers</key>
	<string>level1Towers</string>
	<key>towerPositions</key>
	<string>level1TowerPositions</string>
	<key>waypoints</key>
	<string>level1Waypoints</string>
	<key>waves</key>
	<string>level1Waves</string>
	<key>background</key>
	<string>level1Background.png</string>
	<key>music</key>
	<string>POL-turtle-blues-short.wav</string>
</dict>
</plist>
