<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>8</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>9</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>10</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>11</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>12</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>13</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>8</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>9</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>10</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>11</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>12</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>13</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>14</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>15</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>8</string>
			<key>enemyType</key>
			<string>tankAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>10</string>
			<key>enemyType</key>
			<string>tankAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>15</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>16</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>18</string>
			<key>enemyType</key>
			<string>tankAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>20</string>
			<key>enemyType</key>
			<string>tankAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>25</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>26</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>8</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>10</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>12</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>14</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>16</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>18</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>24</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>26</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>28</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>8</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>9</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>10</string>
			<key>enemyType</key>
			<string>fireAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>14</string>
			<key>enemyType</key>
			<string>tankAnt</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>16</string>
			<key>enemyType</key>
			<string>tankAnt</string>
			<key>level</key>
			<string>3</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>20</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>22</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>24</string>
			<key>enemyType</key>
			<string>basicAnt</string>
			<key>level</key>
			<string>4</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<string>35</string>
			<key>enemyType</key>
			<string>queenAnt</string>
			<key>level</key>
			<string>2</string>
		</dict>
	</array>
</array>
</plist>
