<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTower</key>
	<dict>
		<key>attackRange</key>
		<string>75</string>
		<key>damagePower</key>
		<string>10</string>
		<key>fireRate</key>
		<string>1</string>
		<key>towerCost</key>
		<string>300</string>
		<key>splashRadius</key>
		<string>0</string>
		<key>slowEffect</key>
		<string>0</string>
		<key>spriteFile</key>
		<string>basicTower.png</string>
		<key>bulletFile</key>
		<string>basicBullet.png</string>
		<key>bulletSpeed</key>
		<string>.1</string>
	</dict>
	<key>rapidTower</key>
	<dict>
		<key>attackRange</key>
		<string>80</string>
		<key>damagePower</key>
		<string>3</string>
		<key>fireRate</key>
		<string>.3</string>
		<key>towerCost</key>
		<string>300</string>
		<key>splashRadius</key>
		<string>0</string>
		<key>slowEffect</key>
		<string>0</string>
		<key>spriteFile</key>
		<string>rapidTower.png</string>
		<key>bulletFile</key>
		<string>rapidBullet.png</string>
		<key>bulletSpeed</key>
		<string>.1</string>
	</dict>
	<key>slowTower</key>
	<dict>
		<key>attackRange</key>
		<string>80</string>
		<key>damagePower</key>
		<string>1</string>
		<key>fireRate</key>
		<string>1</string>
		<key>towerCost</key>
		<string>300</string>
		<key>splashRadius</key>
		<string>0</string>
		<key>slowEffect</key>
		<string>.5</string>
		<key>spriteFile</key>
		<string>slowTower.png</string>
		<key>bulletFile</key>
		<string>slowBullet.png</string>
		<key>bulletSpeed</key>
		<string>.3</string>
	</dict>
	<key>splashTower</key>
	<dict>
		<key>attackRange</key>
		<string>100</string>
		<key>damagePower</key>
		<string>25</string>
		<key>fireRate</key>
		<string>1.5</string>
		<key>towerCost</key>
		<string>300</string>
		<key>splashRadius</key>
		<string>25</string>
		<key>slowEffect</key>
		<string>0</string>
		<key>spriteFile</key>
		<string>splashTower.png</string>
		<key>bulletFile</key>
		<string>splashBullet.png</string>
		<key>bulletSpeed</key>
		<string>.8</string>
	</dict>
	<key>rangeTower</key>
	<dict>
		<key>attackRange</key>
		<string>200</string>
		<key>damagePower</key>
		<string>25</string>
		<key>fireRate</key>
		<string>2</string>
		<key>towerCost</key>
		<string>300</string>
		<key>splashRadius</key>
		<string>0</string>
		<key>slowEffect</key>
		<string>0</string>
		<key>spriteFile</key>
		<string>rangeTower.png</string>
		<key>bulletFile</key>
		<string>rangeBullet.png</string>
		<key>bulletSpeed</key>
		<string>.1</string>
	</dict>
</dict>
</plist>
